body {
  font: 21px sans-serif;
  
}

#stats {
	font-size: 15px;
    position: absolute;
	top: 50px;
	text-align: center;
	height: auto;
	width: 220px;
	background: #F5F5DC;
	opacity: 0;
}

#week {
	position: absolute;
	top: 210px;
	text-align: center;
	height: auto;
	width: 220px;
	background: #F5F5DC;
	display: none;
}

#legend-box {
	fill: white;
	stroke-width: 1.5;
	stroke: black;
	opacity: 0;
}

#entry {
	position: absolute;
	left: 110px;
	font: 12px sans-serif;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: auto;
	opacity: 0;
}

.bar {
	fill: steelblue;
}

.axis path,
.axis line {
	fill: none;
	stroke: #778899;
	stroke-width: 1.5;
	shape-rendering: crispEdges;
}

.tick line{
	opacity: 0.2;
}

.barTip {
	
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	font: 12px sans-serif;
	border: 1px solid #6F257F;
	padding: 14px;
	text-align: center;

}

.tooltip {	

	position: absolute;			
	text-align: center;								
	padding: 2px;				
	font: 12px sans-serif;		
	background: lightsteelblue;	
	border: 2px;		
	border-radius: 8px;			
	pointer-events: none;	
	height: auto;
	width: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}