body {
  font: 21px sans-serif;
  
}
#stats {
    position: absolute;
	top: 50px;
	text-align: center;
	width: 200px;
	height: 160px;
	border: 5px solid green;
	display: none;
}

#legend-box {
	fill: white;
	stroke-width: 1.5;
	stroke: black;
}

.axis path,
.axis line {
	fill: none;
	stroke: #778899;
	stroke-width: 1.5;
	shape-rendering: crispEdges;
}

.tick line{
	opacity: 0.2;
}

div.tooltip {	
	position: absolute;			
	text-align: center;								
	padding: 2px;				
	font: 12px sans-serif;		
	background: lightsteelblue;	
	border: 2px;		
	border-radius: 8px;			
	pointer-events: none;			
}